body {
    font-family: Times 'Times New Roman', Times, serif;
    background-color:#000000;  
  }
  
h1 {
    font-size: 32px;
    font-weight: 600;
  }
  
h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 600;
  }
  
li {
    font-size: 16px;
  }
  
.wrapper {
    margin: auto;
    max-width: 700px;
    padding: 16px;
    background-color:#fbfbfb;
    box-sizing: border-box;  
  }

footer {
    font-size: 12px;
    background-color: #D3D3D3;
    width: 700px;
    margin: auto;
    text-align: center;
}

